<a href="https://colab.research.google.com/github/Wachiyem/CIT2228_Computer_Programming_II/blob/main/CIT2228_Functions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function

Mathematics: $f: X \to Y$ $x â†¦ x^2$ or $f(x) = x^2$

In [ ]:
def square(x):
  """
  Square of a number
  """
  y = x ** 2
  return y

In [ ]:
x = 5
y = square(x)
print(y)

25

In [ ]:
def message():
  """
  HBD mamaz!
  """
  print("HBD mamaz!")
  print("HBD mamaz!")
  print("HBD mamaz!")
  return None

message()

HBD mamaz!
HBD mamaz!
HBD mamaz!

In [ ]:
message()

HBD mamaz!
HBD mamaz!
HBD mamaz!

## Function Syntax

In [ ]:
def greet(name):
  """
  Send greeting message to Y2S2 students
  """
  print(f"Hello {name}. Merry Christmas! Nunua matoke.")
  return len(name)

In [ ]:
name = "Y2S2"
greet(name)

Hello Y2S2. Merry Christmas! Nunua matoke.

4

In [ ]:
message_length = greet('Tom Cruise')
print(message_length)

Hello Tom Cruise. Merry Christmas! Nunua matoke.
10

## Position vs Keyword Arguments

In [ ]:
# Positional arguments

def describe_pet(animal_type, pet_name):
  """Display information about a pet."""
  print(f"\nI have a {animal_type}.")
  print(f"My {animal_type}'s name is {pet_name.title()}.")

describe_pet('hamster', 'Fynn')

I have a hamster.
My hamster's name is Fynn.

In [ ]:
#Keyword argument
describe_pet(pet_name='Fynn', animal_type='hamster')

I have a hamster.
My hamster's name is Fynn.

## Default Arguments

In [ ]:
def describe_pet(pet_name, animal_type='dog'):
  """Display information about a pet."""
  print(f"\nI have a {animal_type}.")
  print(f"My {animal_type}'s name is {pet_name.title()}.")

In [ ]:
describe_pet("Coco")

I have a dog.
My dog's name is Coco.

**Exercise:** Write a function, using default arguments, to perform the volume of a cone.

In [ ]:
import math
def volume_of_cone( radius = 133, height = 156):
  """
  Function to calculate the volume of a cone
  """
  volume = (1/3) * math.pi * (radius ** 2) * height
  return volume

In [ ]:
volume_of_cone()

2889724.887366192

**Exercise**: Write a python function to calculate the Laplace transform of any arbitrary function.

$ \mathcal{L} = X(s) = \int_{-\infty}^{\infty} x(t) e^{-st} dt $

In [ ]:
# Laplace Transform

## Variable-Length Arguments
- *args
- **kwargs

In [ ]:
# *args

def average(*numbers):
  return sum(numbers)/ len(numbers)

average(1, 2.3, 3, 5, 6.89, 7)

4.198333333333333

In [ ]:
# **kwargs
def person_info(**details):
  for key, value in details.items():
    print(f"{key} : {value}")

In [ ]:
person_info(name ="Kulusi", age = 17, gender = "Male", assignment = 10, mPesa =-1100)

name : Kulusi
age : 17
gender : Male
assignment : 10
mPesa : -1100

## Return value and scope

In [ ]:
def min_max(numbers):
  return min(numbers), max(numbers)

low, high = min_max([1, 2, 3, 4, 5])
print(f"Low: {low}, High: {high}")
#

Low: 1, High: 5

## Local and global variables

In [ ]:
def increment():
  global count
  count =+ 1

In [ ]:
increment()

## Lambda Function

In [ ]:
square = lambda x: x*x

## Recursive Functions

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  return n * factorial(n-1)

In [ ]:
factorial(5)

120