<a href="https://colab.research.google.com/github/Wachiyem/CIT2228_Computer_Programming_II/blob/main/CIT2228_PythonDataStructures_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Structures: Lists, Tuples, Sets, and Dictionaries

## Lists

- mutable and ordered sequences
- can have mixed data types

In [1]:
numbers = [1, 2, 3, 5, 8, 11, 13] # List with integers
print(numbers)

[1, 2, 3, 5, 8, 11, 13]

In [2]:
names = ["Adan", "Maurice", "Issack", "Jackline"] # List with only strings
print(names)

['Adan', 'Maurice', 'Issack', 'Jackline']

In [3]:
mixed = [1, 'cat', 19.4, True] # List with mixed data types
print(mixed)

[1, 'cat', 19.4, True]

### List indexing and slicing

In [6]:
mixed[0]

1

In [7]:
mixed[2]

19.4

In [9]:
mixed[0:3]

[1, 'cat', 19.4]

In [10]:
mixed[-1] # Accesses last entry of the list

True

In [11]:
mixed[-2] #the second last entry of the list

19.4

In [12]:
mixed[:2]

[1, 'cat']

### Mutability of lists

- lists are mutable - can be modified after creation, unlike strings

In [13]:
animals = ['jogoo', 'mwera', 'kuku', 'sungura']
print(animals)
animals[2] = 'bata'
print(animals)

['jogoo', 'mwera', 'kuku', 'sungura']
['jogoo', 'mwera', 'bata', 'sungura']

In [14]:
animals[-1] = 'Birds names in Kiswahili'
print(animals)

['jogoo', 'mwera', 'bata', 'Birds names in Kiswahili']

### Common Lists Methods

Method in Python is a function that is associated with an object and can be called on that object.

Methods are very similar to functions but they are called using a **dot notation** e.g. `object.method()` and often operate on the object they belong to.

Common list methods include:

1. `append(item)` - add the item to the end of the list
2. `insert(index, item)` - inserts an item at a specified index
3. `remove(item)` - Removes the first occurence of item
4. `pop([index])` - Removes and returns the element at index (default: last element)
5. `extend(iterable)` - Adds all the elements from the iterable (e.g. another list) to the list

In [16]:
fruits = ['orange', 'mango', 'peach', 'guava']
fruits.append('pineapple')
print(fruits)

['orange', 'mango', 'peach', 'guava', 'pineapple']

In [17]:
fruits.insert(2, 'banana')
print(fruits)

['orange', 'mango', 'banana', 'peach', 'guava', 'pineapple']

In [18]:
fruits.remove('guava')
print(fruits)

['orange', 'mango', 'banana', 'peach', 'pineapple']

In [21]:
fruits.pop(3)
print(fruits)

['orange', 'mango', 'banana']

In [22]:
mediterranean_fruits = ['tomato', 'blackberry', 'pear']
fruits.extend(mediterranean_fruits)
print(fruits)

['orange', 'mango', 'banana', 'tomato', 'blackberry', 'pear']

### Information Methods in Lists

They retrieve information about the list but do not modify them. Examples:

1. `count(item)` - returns the number of times `item` appears on the list

2. `index(item)` - returns the index of the first occurence of the item.

3. `sort()` - sorts the list in ascending order.

4. `reverse()` - reverses the order of elements in the list

In [23]:
vegetables = ['kales', 'brocolli', 'spinach', 'kales',
              'cabbage', 'asparagus']
print(vegetables.count('kales'))

2

In [24]:
vegetables.index('spinach')

2

In [31]:
vegetables.sort()
vegetables

['asparagus', 'brocolli', 'cabbage', 'kales', 'kales', 'spinach']

In [30]:
age = [31, 28, 25, 33, 29]
age.sort()
age

[25, 28, 29, 31, 33]

In [32]:
vegetables.reverse()
vegetables

['spinach', 'kales', 'kales', 'cabbage', 'brocolli', 'asparagus']

### List Copying
Can be done using these 3 methods

In [34]:
animals = ['cat', 'donkey', 'horse', 'cow']

backup1 = animals.copy() # Method 1
print(backup1)

backup2 = animals[:] # Method 2
print(backup2)

backup3 = list(animals) # Method 3
print(backup3)

['cat', 'donkey', 'horse', 'cow']
['cat', 'donkey', 'horse', 'cow']
['cat', 'donkey', 'horse', 'cow']

### Multidimensional list

- Lists that contain other lists
- Useful for matrices and tabular data

In [36]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

print(matrix)

matrix[2][2]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

9

In [38]:
# Create 3 * 4 2D list intialised by 0

row, col = 3, 4

matrix2 = [[0 for j in range(col)] for i in range(row)]
matrix2

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

### List Comprehensions

Consise way to create and transform lists

More readable and sometimes faster than loops

In [42]:
# Function and the not so cool way

for x in range(10):
    x_squared = x ** 2
    print(x, x_squared)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [43]:
# Rewrite using list comprehensions
# Squares of numbers from 0-9

square = [x ** 2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
# Even numbers between 0-9

evens = [x for x in range(10) if x % 2 == 0] # % is for remainder calculation
print(evens)

[0, 2, 4, 6, 8]

In [45]:
# Convert strings to uppercase

colors = ["orange", "red", "green", "blue"]
upper_colors = [color.upper() for color in colors]
print(upper_colors)

['ORANGE', 'RED', 'GREEN', 'BLUE']