<a href="https://colab.research.google.com/github/Wachiyem/CIT2228_Computer_Programming_II/blob/main/CIT2228_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Βoolean operators

4 < 5

True

In [ ]:
x = 3
print(x)

3

In [ ]:
# Assignment can be en masses

x = y = z = 1
print(x, y, z)

1 1 1

In [ ]:
# Multiple Assignments can be done in one line

x, y, z = 1, 2.31, 'cat'
print(x, y, z)

1 2.31 cat

## Variable names

- Must always begin with a letter or an underscore
- Other characters can be letters, numbers or _
- Are case-sensitive maximum and Maximum (different variables)
- Can be reasonable length

## Data-types

- `int` - integers. 1, 4, -6
- `float` - floating point numbers. 1.2, 3.46, ...
- `str` - strings. 'cat', 'mama', etc
- `complex` - complex numbers. `x = complex(3,1)` or` x = 3 + 1j`
- `bool` - Boolean. `True` & `False`
- `lists`: `[1, 2, 3, 4]` or `['banana', 'mango']`
- `dict`: dictionaries
- `tuples`

In [ ]:
x = complex(3,1) + complex(4,2)
print(x)
y = 3 +1j + 4+2j
print(y)

(7+3j)
(7+3j)

## Variable modifying operators

1. `x += y` $⇒$ Add the value `y` to `x`.
Equivalent
$ x = x + y$

2. `x -= y` $\Rightarrow$ Subtract the value of `y` from `x` $\Rightarrow$ $ x = x - y$

3. `x *= y` $\Rightarrow$ Multipy the value of `y` by `x` $\Rightarrow$ $ x = x \times y$

2. `x /= y` $\Rightarrow$ Divide the value of `x` by `y` $\Rightarrow$ $ x = x / y$

In [ ]:
x = 3
y = 6

x += y # Most commonly used

print(x)

x -= y
print(x)

9
3

## Some Python in-built

### The `len()` function

Returns the length of any Python function that contains some sort of counting thing

In case of a string, it will return of characters

In [ ]:
print(len('cat'))

3

### String operators

Two operators:
- `+` : concatenate strings
- `+=`: appends strings
- index strings using square brackets, starting from 0

In [ ]:
first_name = "Kerry"
second_name = "Smith"

full_name = first_name +" " + second_name
print(full_name)

Kerry Smith

In [ ]:
# The fourth index of the first name

print(first_name[3])

r

- Changing elements of a string by an index is not allowed.

- Python strings are **immutable**, i.e., they can't be changed.

In [ ]:
a = 'Hello BU!'

a[4] = '0'

TypeError: 'str' object does not support item assignment

## If/ Else

**Conditional statements**:
- `if`
- `elif`: if ... elif
- `else`: if ... elif ... else

Syntax:

```
    if Boolean_value:

      some code

    elif Boolean_value:

       ... some other code

       .

       .

       .

     else:
     
        ... more code ```

In [ ]:
if True:
    print('This is true')

This is true

In [ ]:
a = 1
b = 2

if a > b:
    print('a is greater than b')
elif a < b:
    print('a is less than b')
else:
    print('a is equal to b')

a is less than b

In [ ]:
a = 1
b = 2

if a > b:
  c = a
elif b > a:
  c = b
else:
  c = 'Equal!'

print(c)

2

### if/ else code blocks

- Python knows a code block has ended when the indentation is removed.

- Code blocks can be **nested** inside others therefore if-elif-else statements can be freely nested within others.

In [ ]:
a = 1
b = 2

if a <= b:
  c = a
  print('a <= b')
  if c == 1:
    print('c is 1')
print('We are now out of the if statement')

a <= b
c is 1
We are now out of the if statement

## Lists

- A Python list is a general purpose 1-dimensional container for variables.
  - it a row, column or a vector of thing
  - e.g
    - fruits = ['pears', 'peach', 'berries']
    - age = [ 21, 19, 20, 22, 20]
    - kibandaski = [ 'katakata', 'chapo', 420, 315, 'chips mayai']
    - shopping = [ 'kales', 'cabbages', 'spinach', ['eggs', 'soya', 'steak'], 'lettuce']

In [ ]:
fruits = ['pears', 'peach', 'berries']
age = [ 21, 19, 20, 22, 20]
kibandaski = [ 'katakata', 'chapo', 420, 315, 'chips mayai']
shopping = [ 'kales', 'cabbages', 'spinach', ['eggs', 'soya', 'steak'], 'lettuce']

print(shopping)

['kales', 'cabbages', 'spinach', ['eggs', 'soya', 'steak'], 'lettuce']

- List can change in size: elements can be added or removed.

In [ ]:
# Make a list with [] brackets

list_1 = []

# Append with the `append()` function
list_1.append(1)
list_1.append(2)
list_1.append(3)
list_1.append('A string!')
list_1.append(True)
list_1.append(3.14159)
list_1.append([])

print(list_1)

[1, 2, 3, 'A string!', True, 3.14159, []]

In [ ]:
# Create a list with some initial elements
list_2 = [4, 5, -23.0 + 4.1j, 'cat']

print(list_2)

[4, 5, (-23+4.1j), 'cat']

Create a list with N repeated elements

In [ ]:
# Create a list with N repeated elements
list_3 = [1] * 10

print(list_3)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

### List Functions

In [ ]:
dir(list_1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
len(list_1) # How many items are in list_1

7

### Accessing List Elements

- Lists are accessed by index.
  - All of this applies to accessaing strings by index as well
- Index numbers start from 0

In [ ]:
# Example for list indexing

x = ['a', 'b', 'c ', 'd', 'e ']

#first element
print(x[0])
#second element
print(x[1])

# Last element
print(x[-1])

# Next -to-last element
print(x[-2])

a
b
e
d

### List slicing

Slice syntax: `x[ start:end:step]`
  - Start vslue is inclusive, end value is exclusive
  - step is optional and defaults to 1
  - leaving out the end value means going tp the end
  - slicing always returns a new list copied from an existing list.

In [ ]:
x = ['a', 'b', 'c ', 'd', 'e ']

x[0:1]

['a']

In [ ]:
print(x[0:2])
print(x[0:3])

#Include step value
print(x[2:5:2])

['a', 'b']
['a', 'b', 'c ']
['c ', 'e ']

### List Assignments and Deletions

List can have their elements overwritten or deleted (with the `del`) command

In [ ]:
x = ['a', 'b', 'c ', 'd', 'e ']

x[0]= 3.141
print(x)

[3.141, 'b', 'c ', 'd', 'e ']

In [ ]:
del x[-1]
print(x)

[3.141, 'b', 'c ', 'd']